@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --noted-foreground: #343434;
    --noted-background: #dcdfe8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --noted-foreground: #ffffff;
        --noted-background: #343434;
    }
}

body {
    color: var(--noted-foreground);
    background: var(--noted-background);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
